/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)



### Body Copy

- Font size: 16px


- Weights: 400, 700

font-family: 'Karla', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}
h2{
    font-size: 18px;
}

main{
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(177, 177, 177);
}
section{
    padding: 40px;
}

#join{
    background-color: white;
    grid-column: 1/span 2;
}
#join h1{
    color: #2bb3b1;
    font-size: 24px;
    margin-bottom: 33px;
}
#join h2{
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
}
#join p{
    color: hsl(218, 22%, 67%);
    margin-bottom: 5px;
}

#subscription{
    background-color: #2bb3b1;
    color: white;
}
#subscription h2{
    margin-bottom: 25px;
}
#subscription div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#price{
    font-size: 25px;
    font-weight: 700;
    margin-right: 15px;
}
#perMonth{
    color: hsl(204, 43%, 93%);
}
#button{
    background-color: hsl(71, 73%, 54%);
    border-radius: 6px;
    display: block;
    width: 237px;
    text-align: center;
    padding: 18px 0;
    margin: 33px auto 0 auto;
    color: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 1px 1px 5px rgb(160, 159, 159);
}
#button:hover{
    background-color: hsl(71, 83%, 54%);
}

#whyUs{
    background-color: #4abebd;
    color: white;
}
#whyUs h2{
    margin-bottom: 22px;
}
#whyUs ul{
    list-style-type: none;
}
#whyUs li{
    margin-bottom: 9px;
    font-size: 12px;
    color: hsl(204, 43%, 93%);
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media(max-width: 768px){
    main{
        position: static;
        transform: translate(0, 0);
        width: 88%;
        grid-template-columns: 1fr;
        margin: 10px auto;
    }
    #join{
        grid-column: 1;
    }
    section{
        width: 100%;
    }
    footer{
        position: static;
    }
}